@{
    ViewData["Title"] = "Paragwan - Home";
}

<div class="home-container fade-in">
    <div class="intro-text">
        <h1>Welcome to Paragwan</h1>
        <p>Experience the Thrill of Paragliding in Beautiful Chitwan!</p>
        <a href="/Paragliding/Index" class="btn btn-primary animated-button">Explore Paragliding Adventures</a>
    </div>
</div>
