@{
    ViewData["Title"] = "Home - Paragwan";
}
<link rel="stylesheet" href="~/css/home.css" />

<div class="home-container fade-in">
    <div class="intro-text">
        <h1>Welcome to Paragwan</h1>
        <p>Experience the thrill of paragliding in beautiful Chitwan!</p>
        <a href="/Paragliding/Index" class="btn btn-primary animated-button">Explore Adventures</a>
    </div>
</div>