body {
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTierx2PK4llrfQ305bEbnX61OASDkFMZxxfw&s') no-repeat center center fixed;
    background-size: cover;
}
.home-container {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.intro-text {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 10px;
}

    .intro-text h1 {
        font-size: 3rem;
        margin-bottom: 20px;
    }

    .intro-text p.lead {
        font-size: 1.5rem;
        margin-bottom: 30px;
    }

.animated-button {
    transition: transform 0.3s;
}

    .animated-button:hover {
        transform: scale(1.05);
    }
