body {
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuWVof1Xc5aGSwntyGikb0kgAGqCLn7nwXow&s') no-repeat center center fixed;
    background-size: cover;
}

.login-container, .register-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    margin: 40px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form Inputs */
.animated-input {
    transition: all 0.3s;
}

    .animated-input:focus {
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

/* File Input Styling */
input[type="file"] {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s;
}

    input[type="file"]:hover {
        border-color: #007bff;
    }


/* Buttons */
.animated-button {
    background-color: #007bff;
    border: none;
    transition: all 0.3s;
    padding: 10px 20px;
    border-radius: 5px;
}

    .animated-button:hover {
        background-color: #0056b3;
        transform: scale(1.05);
    }

/* Fade-In Animation */
.fade-in {
    animation: fadeIn 0.8s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
