.paragliding-container {
    margin-top: 30px;
}

    .paragliding-container h2 {
        text-align: center;
        margin-bottom: 30px;
        color: #0056b3;
    }

/* Animated Cards */
.animated-card {
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 30px;
}

    .animated-card:hover {
        transform: scale(1.05);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }

/* Buttons */
.animated-button {
    background-color: #007bff;
    color: white;
    border: none;
    transition: all 0.3s;
    padding: 10px 20px;
    border-radius: 5px;
}

    .animated-button:hover {
        background-color: #0056b3;
        transform: scale(1.05);
    }

/* Fade-In Animation */
.fade-in {
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
